<h1>Correlation matrix with correlation coefficients and no legend</h1>
<div class="flag">
  <div>
    <input type="number" [(ngModel)]="value" placeholder="Enter a value">
    <div>
      <h3>Color output:</h3>
    </div>
    
    <div [ngStyle]="getCellStyles(value)" class="color-box"></div>
  </div>

  <table>
    <ng-container *ngFor="let row of matrix; let rowIndex = index" class="cell">
      <tr>
        <ng-container *ngFor="let cell of row; let cellIndex = index">
          <td [ngStyle]="getCellStyles(cell)">
            {{ cell }}
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</div>